<!DOCTYPE html>
<html>
  <head>
	<title>Sinatra Sorcery</title>
	<script src="//www.google.com/jsapi"></script>
	<script src="chartkick.js"></script>

  </head>
  <body>
    <%= yield %>
  </body>
</html>